<h1 class="text-2xl font-extrabold tracking-tight text-gray-900 lg:text-center lg:font-medium lg:border-b lg:pb-5 lg:tracking-normal lg:text-gray-600">Din bestilling</h1>

<div class="mt-4">
    {% include modules/cartList.html %}

    <div class="border-t border-b border-gray-200 mt-4 py-4">

        <div class="flex justify-between text-sm text-gray-900">
            <p>Total </p>
            <p>DKK 19.365,00</p>
        </div>
        <div class="flex justify-between text-sm text-gray-900">
            <p>Levering </p>
            <p>DKK 365,00</p>
        </div>
        <div class="flex justify-between text-sm  text-gray-900 mt-3">
            <p>Total inklusiv levering</p>
            <div class="text-right">
                <p class="text-base font-medium">DKK 19.665,00</p>
                <p class="text-gray-400 text-xs ">(inkluderer 4.916,25 DKK Moms)</p>
            </div>
        </div>
    </div>

    <a 
        href="/cart" 
        class="mt-4 flex justify-center items-center px-6 py-3 text-base border-gray-300 border font-medium text-gray-800 rounded-md shadow-sm bg-white hover:bg-gray-50"
    >
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
        </svg>
        Ret bestilling
    </a>
</div>
