<div class="hidden text-xs text-gray-600 bg-gray-50 border-b border-gray-200 lg:block xl:text-sm uppercase">
    <div class="container mx-auto relative flex items-center py-2 px-5 h-10 overflow-hidden justify-between">
      <a href="#">
        <span class="text-teal-600 font-medium mr-1">Gratis fragt </span> ved køb over 299,-
      </a>

      <a href="#">
        <span class="text-teal-600 font-medium  mr-1">Hurtig levering </span> 1 - 2 hverdage
      </a>

      <a href="#">
        <span class="text-teal-600 font-medium  mr-1">Prismatch </span> Vi matcher laveste pris
      </a>

      <a class="flex items-center" href="#">
        <span class="text-teal-600 font-medium  mr-1">4.7 / 5</span>
        <img class="h-6 ml-2 mr-2" src="https://i.ibb.co/WFXffb1/trustpilot.png" />
        <span class="hidden xl:inline-block">3.939 anmeldelser</span>
      </a>
    </div>
  </div>