<div class="text-gray-600 bg-opacity-90 bg-white border-b border-t  filter drop-shadow-sm hidden xl:block xl:sticky z-10 top-0 backdrop-filter backdrop-blur-sm"> 
  <div class="container mx-auto px-1">
    <div class="flex justify-between items-center">
      <nav class="flex">
            <div>
              <a href="/" class="font-medium uppercase text-gray-600 text-sm px-4 py-5 group inline-flex items-center transition-colors hover:text-teal-600">
                <span>Forside</span>
              </a>
            </div>
          <template x-for="category in categories" :key="category.name" hidden>
            <div x-data="{ megaMenu: false }">
              <template x-if="category.categoriesLevelTwo" hidden>
                <a 
                  @click.prevent="megaMenu = ! megaMenu;" 
                  :href="category.link"
                  :class="megaMenu ? 'text-teal-600 bg-teal-50' : ''" 
                  class="font-medium uppercase text-gray-600 text-sm px-3 py-5 group inline-flex items-center transition-colors hover:text-teal-600" 
                  aria-expanded="false"
                  >
                  <span x-text="category.name"></span>
                </a>
              </template>
              <template x-if="!category.categoriesLevelTwo">
                <a 
                  :href="category.link"
                  class="font-medium uppercase text-gray-600  text-sm px-3 py-5 group inline-flex items-center transition-colors hover:text-teal-600" 
                  aria-expanded="false"
                  >
                  <span x-text="category.name"></span>
                </a>
              </template>
              <div 
                class="absolute bg-white px-4 pb-6 shadow-md w-full left-0 right-0 border-t z-10 " 
                x-show="megaMenu" 
                @click.outside="megaMenu = false"
                x-transition:enter="transition ease-out duration-200"
                x-transition:enter-start="opacity-0"
                x-transition:enter-end="opacity-100"
                x-transition:leave="transition ease-in duration-150"
                x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0"
              >
                <div class="container mx-auto px-5 grid grid-cols-4">
                  <template x-for="category in category.categoriesLevelTwo" :key="category.name" hidden>
                    <div>
                      <a href="#" class="title-font text font-medium text-teal-600 tracking-wide mb-1 w-full block mt-6" x-text="category.name"></a>
                      <template x-for="category in category.categoriesLevelThree" :key="category.name" hidden>
                          <a :href="category.link" class="text-gray-600 mb-1 w-full block hover:text-teal-600" x-text="category.name"></a>
                      </template>
                    </div>
                  </template>
                </div>
              </div>
            </div>
          </template>
        </nav>
      </div>
  </div>
</div>


  
  