<!-- Filters -->
<form class="hidden lg:block">
    <h3 class="sr-only">Categories</h3>
    <ul role="list" class="text-sm font-medium text-gray-900 space-y-4 pb-6 border-b border-gray-200">
      <li>
        <a href="#">
            Herrecykel - Citybike
        </a>
      </li>

      <li>
        <a href="#">
            Herrecykel - Klassisk
        </a>
      </li>

      <li>
        <a href="#">
            Herrecykel - Trekking / Touring
        </a>
      </li>
    </ul>


    <div class="border-b border-gray-200 py-6" x-data="{ filterSize: true }">
      <h3 class="-my-3 flow-root">
        <!-- Expand/collapse section button -->
        <button @click="filterSize = ! filterSize" type="button" class="py-3 bg-white w-full flex items-center justify-between text-sm text-gray-400 hover:text-gray-500" aria-controls="filter-section-2" aria-expanded="false">
          <span class="font-medium text-gray-900">
            Størrelse
          </span>
          <span class="ml-6 flex items-center">
            <!--
              Expand icon, show/hide based on section open state.

              Heroicon name: solid/plus-sm
            -->
            <svg x-show="!filterSize" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
            </svg>
            <!--
              Collapse icon, show/hide based on section open state.

              Heroicon name: solid/minus-sm
            -->
            <svg x-show="filterSize" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5 10a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1z" clip-rule="evenodd" />
            </svg>
          </span>
        </button>
      </h3>
      <!-- Filter section, show/hide based on section state. -->
      <div class="pt-6" id="filter-section-2" x-show="filterSize">
        <div class="space-y-4">
          <div class="flex items-center">
            <input id="filter-size-0" name="size[]" value="2l" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-teal-600 focus:ring-teal-500">
            <label for="filter-size-0" class="ml-3 text-sm text-gray-600">
              XS (145 - 155 cm)
            </label>
          </div>

          <div class="flex items-center">
            <input id="filter-size-1" name="size[]" value="6l" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-teal-600 focus:ring-teal-500">
            <label for="filter-size-1" class="ml-3 text-sm text-gray-600">
              S (155 - 165 cm)
            </label>
          </div>

          <div class="flex items-center">
            <input id="filter-size-2" name="size[]" value="12l" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-teal-600 focus:ring-teal-500">
            <label for="filter-size-2" class="ml-3 text-sm text-gray-600">
              M (165 - 175 cm)
            </label>
          </div>

          <div class="flex items-center">
            <input id="filter-size-3" name="size[]" value="18l" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-teal-600 focus:ring-teal-500">
            <label for="filter-size-3" class="ml-3 text-sm text-gray-600">
              L (175 - 185 cm)
            </label>
          </div>

          <div class="flex items-center">
            <input id="filter-size-4" name="size[]" value="20l" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-teal-600 focus:ring-teal-500">
            <label for="filter-size-4" class="ml-3 text-sm text-gray-600">
              XL (185 - 195 cm)
            </label>
          </div>

          <div class="flex items-center">
            <input id="filter-size-5" name="size[]" value="40l" type="checkbox" checked class="h-4 w-4 border-gray-300 rounded text-teal-600 focus:ring-teal-500">
            <label for="filter-size-5" class="ml-3 text-sm text-gray-600">
              XXL (195 - 205 cm)
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="border-b border-gray-200 py-6" x-data="{ filterColors: true }">
      <h3 class="-my-3 flow-root">
        <!-- Expand/collapse section button -->
        <button 
          type="button" 
          @click="filterColors = ! filterColors"
          class="py-3 bg-white w-full flex items-center justify-between text-sm text-gray-400 hover:text-gray-500" 
          aria-controls="filter-section-0" 
          aria-expanded="false"
          >
          <span class="font-medium text-gray-900">
            Farve
          </span>
          <span class="ml-6 flex items-center">
            <!--
              Expand icon, show/hide based on section open state.

              Heroicon name: solid/plus-sm
            -->
            <svg x-show="!filterColors" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
            </svg>
            <!--
              Collapse icon, show/hide based on section open state.

              Heroicon name: solid/minus-sm
            -->
            <svg x-show="filterColors" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5 10a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1z" clip-rule="evenodd" />
            </svg>
          </span>
        </button>
      </h3>
      <!-- Filter section, show/hide based on section state. -->
      <div class="pt-6" id="filter-section-0" x-show="filterColors">
        <div class="space-y-4">
          <div class="flex items-center">
            <input id="filter-color-0" name="color[]" value="white" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-teal-600 focus:ring-teal-500">
            <label for="filter-color-0" class="ml-3 text-sm text-gray-600">
              Blå
            </label>
          </div>

          <div class="flex items-center">
            <input id="filter-color-1" name="color[]" value="beige" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-teal-600 focus:ring-teal-500">
            <label for="filter-color-1" class="ml-3 text-sm text-gray-600">
              Brun
            </label>
          </div>

          <div class="flex items-center">
            <input id="filter-color-2" name="color[]" value="blue" type="checkbox" checked class="h-4 w-4 border-gray-300 rounded text-teal-600 focus:ring-teal-500">
            <label for="filter-color-2" class="ml-3 text-sm text-gray-600">
              Grøn
            </label>
          </div>

          <div class="flex items-center">
            <input id="filter-color-3" name="color[]" value="brown" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-teal-600 focus:ring-teal-500">
            <label for="filter-color-3" class="ml-3 text-sm text-gray-600">
              Gul
            </label>
          </div>

          <div class="flex items-center">
            <input id="filter-color-4" name="color[]" value="green" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-teal-600 focus:ring-teal-500">
            <label for="filter-color-4" class="ml-3 text-sm text-gray-600">
              Rød
            </label>
          </div>

          <div class="flex items-center">
            <input id="filter-color-5" name="color[]" value="purple" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-teal-600 focus:ring-teal-500">
            <label for="filter-color-5" class="ml-3 text-sm text-gray-600">
              Lilla
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="border-b border-gray-200 py-6" x-data="{ filterGear: true }">
      <h3 class="-my-3 flow-root">
        <!-- Expand/collapse section button -->
        <button type="button" @click="filterGear = ! filterGear" class="py-3 bg-white w-full flex items-center justify-between text-sm text-gray-400 hover:text-gray-500" aria-controls="filter-section-1" aria-expanded="false">
          <span class="font-medium text-gray-900">
            Antal gear
          </span>
          <span class="ml-6 flex items-center">
            <!--
              Expand icon, show/hide based on section open state.

              Heroicon name: solid/plus-sm
            -->
            <svg x-show="!filterGear" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
            </svg>
            <!--
              Collapse icon, show/hide based on section open state.

              Heroicon name: solid/minus-sm
            -->
            <svg x-show="filterGear" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5 10a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1z" clip-rule="evenodd" />
            </svg>
          </span>
        </button>
      </h3>
      <!-- Filter section, show/hide based on section state. -->
      <div class="pt-6" id="filter-section-1" x-show="filterGear">
        <div class="space-y-4">
          <div class="flex items-center">
            <input id="filter-category-0" name="category[]" value="new-arrivals" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-teal-600 focus:ring-teal-500">
            <label for="filter-category-0" class="ml-3 text-sm text-gray-600">
              1
            </label>
          </div>

          <div class="flex items-center">
            <input id="filter-category-1" name="category[]" value="sale" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-teal-600 focus:ring-teal-500">
            <label for="filter-category-1" class="ml-3 text-sm text-gray-600">
              3
            </label>
          </div>

          <div class="flex items-center">
            <input id="filter-category-2" name="category[]" value="travel" type="checkbox" checked class="h-4 w-4 border-gray-300 rounded text-teal-600 focus:ring-teal-500">
            <label for="filter-category-2" class="ml-3 text-sm text-gray-600">
              7
            </label>
          </div>

          <div class="flex items-center">
            <input id="filter-category-3" name="category[]" value="organization" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-teal-600 focus:ring-teal-500">
            <label for="filter-category-3" class="ml-3 text-sm text-gray-600">
              8
            </label>
          </div>

          <div class="flex items-center">
            <input id="filter-category-4" name="category[]" value="accessories" type="checkbox" class="h-4 w-4 border-gray-300 rounded text-teal-600 focus:ring-teal-500">
            <label for="filter-category-4" class="ml-3 text-sm text-gray-600">
              9
            </label>
          </div>
        </div>
      </div>
    </div>

  </form>