<div class="group">
    <a href="/product" class="w-full block min-h-70 bg-gray-200 aspect-w-1 aspect-h-1 group-hover:opacity-75 lg:h-70 lg:aspect-none">
      <img loading="lazy" src="https://static.cykelshoppen.dk/ai/600/storage/images/products/nishiki-touring-master-7-orange-herrecykel-2021~906215221-1.jpg" alt="Front of men&#039;s Basic Tee in black." class="w-full h-full object-center object-cover lg:w-full lg:h-full">
    </a>
    <div class="mt-4">
        <a href="/product">
            <div class="flex items-center"> 
                <p class="text-sm mr-2 text-gray-500">Nishiki</p>
            </div>
            <h3 class="text-gray-900 text-xs mt-2">
                Nishiki Touring Master 7 Orange - Herrecykel - 2021
            </h3>

            <div class="bg-red-500 text-white px-2 py-1 text-xs inline-block mt-4 rounded-sm"> Spar 500,00 </div>
            <div class="flex items-end">
                <p class="font-medium text-gray-800 mr-2">DKK 5.195,00</p>
                <p class="text-gray-400 line-through mr-2 text-sm">DKK 5.695,00</p>
            </div>
        </a>

        <select class="border-gray-300 bg-gray-50 w-full mt-2 text-xs rounded-md shadow-sm focus:border-teal-600 focus:ring focus:ring-teal-500 focus:ring-opacity-50 transition-all duration-200 ease-in-out">
            <option value="45286" data-suggested-price="DKK 5.495,00" data-gross-before-price="" data-gross-price="DKK 4.795,00" data-net-before-price="" data-net-price="DKK 3.836,00" data-is-in-stock="1" data-is-purchasable="1" data-is-purchasable-when-out-of-stock="0" data-savings="" data-stock-agent-subscription="1" selected="">
                20,5" (165 - 180 cm) - På lager
            </option>
            <option value="45287" data-suggested-price="DKK 5.495,00" data-gross-before-price="" data-gross-price="DKK 4.795,00" data-net-before-price="" data-net-price="DKK 3.836,00" data-is-in-stock="1" data-is-purchasable="1" data-is-purchasable-when-out-of-stock="0" data-savings="" data-stock-agent-subscription="1">
                22" (170 - 189 cm) - På lager
            </option>
            <option value="45288" data-suggested-price="DKK 5.495,00" data-gross-before-price="" data-gross-price="DKK 4.795,00" data-net-before-price="" data-net-price="DKK 3.836,00" data-is-in-stock="1" data-is-purchasable="1" data-is-purchasable-when-out-of-stock="0" data-savings="" data-stock-agent-subscription="1">
                23,5" (180 - 195 cm) - På lager
            </option>
            <option value="45289" data-suggested-price="DKK 5.495,00" data-gross-before-price="" data-gross-price="DKK 4.795,00" data-net-before-price="" data-net-price="DKK 3.836,00" data-is-in-stock="0" data-is-purchasable="1" data-is-purchasable-when-out-of-stock="0" data-savings="" data-stock-agent-subscription="1">
                25" (188 - 204 cm)  - Udsolgt
            </option>
        </select>

        <div class="mt-2 flex">
            <input class="w-1/4 mr-2 bg-gray-50  border-gray-300 text-gray-600 text-center rounded-md shadow-sm focus:border-teal-600 focus:ring focus:ring-teal-500 focus:ring-opacity-50 transition-all duration-200 ease-in-out" type="number" value="1">
            <button class="w-3/4 rounded-md shadow-xl bg-teal-500 hover:bg-teal-600 text-white py-2">Læg i kurv</button>
        </div>
    </div>
  </div>