---
---

{% include applicationTop.html %}
{% include header/_header.html %}
{% include breadCrumb.html %}


  <!--
  This example requires Tailwind CSS v2.0+ 
  
  This example requires some changes to your config:
  
  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
    ],
  }
  ```
-->

  <main class="container mx-auto px-5" x-data="{ mobileFilter: false }">
    {% include productList/categoryHeader.html %}
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-x-8 gap-y-10 pt-6 pb-24">
      {% include productList/leftMenu.html %}
      {% include productList/mobileFilter.html %}
      {% include productList/productList.html %}
    </div>
  </main>

{% include footer/_footer.html %}
{% include applicationBottom.html %}
