
  <ul
    x-data="
        { products: [
        { 
            name: 'GripGrab ProGel Cykelhandsker, sort, large', 
            sku: '1001-01-L',
            image: 'https://static.cykelshoppen.dk/ai/125/storage/images/products/1001_01.jpg',
            price: 'DKK 289,00',
            stockStatus: true,
            quantity: 1,
            brand: 'GribGrab',
            category: 'Cykelhandsker',

        },
        { 
            name: 'Rogelli Pesaro 2.0 Vinterjakke, Fluor, Large', 
            sku: '003.046.L',
            image: 'https://static.cykelshoppen.dk/ai/125/storage/images/products/003.046_01_pesaro2_jacket_fluor.jpg',
            price: 'DKK 399,00',
            stockStatus: true,
            quantity: 1, 
            brand: 'Rogelli',
            category: 'Vinterjakker',
        },
        { 
            name: 'Specialized Align II Mips Cykelhjelm, Hyprviz (S/M 51-56cm)', 
            sku: '60821-1012',
            image: 'https://static.cykelshoppen.dk/ai/125/storage/images/products/Specialized%20Align%20II%20Mips%20Cykelhjelm%20Hyprviz.jpg',
            price: 'DKK 449,00',
            stockStatus: false,
            quantity: 1, 
            brand: 'Specialized',
            category: 'Cykelhjelme',
        },
        { 
            name: 'Cube Aim Race 29 Black - MTB - 2022, 24', 
            sku: 'C501400-24',
            image: 'https://static.cykelshoppen.dk/ai/125/storage/images/products/501400_light_zoom.jpg',
            price: 'DKK 5.895,00',
            stockStatus: true,
            quantity: 1, 
            brand: 'Specialized',
            category: 'Mountain Bikes',
        },
        ]}
        "
    role="list"
    class="-my-4 divide-y divide-gray-200 overflow-auto"
  >
    <template x-for="product in products" :key="product.sku" hidden>
      <li class="py-6 flex">
        <div
          class="
            flex-shrink-0
            w-24
            h-20
            border border-gray-200
            rounded-md
            shadow-sm
            overflow-hidden
          "
        >
          <img
            :src="product.image"
            :alt="product.name"
            class="w-full h-full object-center object-cover"
          />
        </div>

        <div class="ml-4 flex-1 flex flex-col">
          <div>
            <div
              class="flex justify-between text-base text-gray-800"
            >
              <h3 class="text-xs md:text-sm">
                <a x-text="product.name" href="#"></a>
              </h3>
              <p class="ml-4 text-right min-w-max text-gray-900 text-xs font-medium md:text-sm" x-text="product.price"></p>
            </div>
            <template x-if="product.stockStatus">
              <p class="mt-1 text-green-500 text-xs">
                På lager
              </p>
            </template>
            <template x-if="!product.stockStatus">
              <p class="mt-1 text-yellow-500 text-xs">
                Bestillingsvare
              </p>
            </template>
          </div>

          <template x-if="!isCheckout" hidden>
          <div class="flex-1 flex items-end justify-between text-sm mt-4">
            <div class="flex">
              <div class="text-gray-400 flex items-center cursor-pointer" x-on:click="product.quantity--">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 12H6" />
                </svg>
              </div>
              <span class="text-gray-400 mx-1 px-2 bg-white border border-gray-300 rounded-md w-9 text-center" x-text="product.quantity"></span>
              <div class="text-gray-400 flex items-center cursor-pointer" x-on:click="product.quantity++"> 
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                </svg>
              </div>
            </div>

            <div class="flex mt-1">
              <button
                type="button"
                class="font-medium text-teal-600 hover:text-teal-500"
              >
                Slet
              </button>
            </div>
          </div>
          </template>

          <template x-if="isCheckout" hidden>
            <div class="text-gray-400 text-xs mt-1">
              <span x-text="product.quantity"></span> Stk.
            </div>
          </template>
        </div>
      </li>
    </template>

    <!-- More products... -->
  </ul>



